body {
    background-color: white;
    margin: 0;
}
.wrapper{
    background-color: white;
    max-width: 100%;
    padding: 50px;
}
.wrapper2{
    display: flex;
}
.nav{
    width: 100%;
    background-color: #880000;
    border-radius: 10px;
}
h1 {
    background-color: rgb(185,150,175);
    font-family: Arial;
    color: white;
    text-align: center;
}
h2 {
    font-family: Arial;
    color: blue;
}
img {
    width: 212.5px;
    height: 300px;
    padding-left: 50px;
}
p{s
    font-size: 13pt;
}
ul {
    text-align: center;
    display: flex;
    margin: 3px;
    padding: 15px;
}
li { 
    width: 100%;
    list-style-type: none;
}
a{
    font-size: 30pt;
    text-decoration: none;
    color: white;
    margin-top; 25px;
}